.burger-ingredients-section__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 32px;
    padding-inline: 16px;
}

.burger-ingredients-section__card {
    position: relative;
    cursor: pointer;
    transition: scale 0.3s ease;
}

.burger-ingredients-section__card:hover {
    scale: 1.1;
}

.burger-ingredients-section__card-image-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 16px;
}

.burger-ingredients-section__card-image {
    height: 120px;
    object-fit: contain;
    padding-left: 16px;
    padding-right: 16px;
}

.burger-ingredients-section__title {
    min-height: 48px;
    text-align: center;
    line-height: 1.5;
}

.burger-ingredients-section__sup-title {
    display: flex;
    align-items: center;
    justify-content: center;
}
