.feed-item {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;

    border-radius: 40px;
    background-color: #1C1C21;

    box-shadow:
        0 0 1px rgba(0, 0, 0, 0.04),
        0 0 2px rgba(0, 0, 0, 0.06),
        0 4px 8px rgba(0, 0, 0, 0.04);
}

.feed-item__header {
    display: flex;
    align-items: center;
}

.feed-item__header-main {
    flex: 1;
}

.feed-item__header-aside {
    flex: 0;
}

.feed-item__content {}

.feed-item__footer {}

.feed-item__footer-main {}

.feed-item__footer-main-item {
	position: relative;
	width: 64px;
	height: 64px;
	border-radius: 100px;
	background-color: #131316;
	overflow: hidden;
}

.feed-item__footer-main-item::before {
	content: '';
	position: absolute;
	inset: 0;
	padding: 2px;
	border-radius: 100px;
	background: linear-gradient(180deg, #801ab2 0%, #4c4cff 100%);
	-webkit-mask:
		linear-gradient(#fff 0 0) content-box,
		linear-gradient(#fff 0 0);
	-webkit-mask-composite: xor;
	mask-composite: exclude;
}

.feed-item__footer-main-item-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.feed-item__footer-main-item-caption {
	position: absolute;
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(28, 28, 33, 0.6);
	border-radius: 100px;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	pointer-events: none;
}

.feed-item__footer-aside {

}