.forgot-password {
    min-height: 470px;
    height: calc(100dvh - 170px);
    width: 100%;
    display: flex;
}

.forgot-password__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.forgot-password__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

