.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.app-header__nav {
    display: flex;
}

.app-header__side {
    display: flex;
    justify-content: flex-end;
}

.app-header__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.app-header__nav-link {
    display: flex;
    align-items: center;
    color: var(--text-inactive-color) !important;
}

.app-header__nav-link--active {
    color: var(--text-primary-color) !important;
}

.app-header__nav-link--active svg {
    fill: var(--text-primary-color);
}
